<header>
    <app-navbar class="w-100"></app-navbar>
</header>

<div id="main">
    <form action="" method="POST" id = "identifiants">
        <h1>Retrouvez vos meilleures sensations !</h1>
        <input type="text" id="mail" name="mail" placeholder="Adresse e-mail"  required>
        <input type="text" id="mdp" name="mdp" placeholder="Mot de passe" required>
        <input type="submit" id="connecter" value="Se Connecter"/> 
    </form>
    

    <div id="image" style="display:none;">
        <img id="photo" src="../../assets/images/photo2.jpg" alt=""> 
    </div>
</div>