<div class="row align-items-center justify-content-between ">
    
    <div class="col-1">
        <a href='connection'><img id="Logo" src="../../../assets/img/deezify.png" alt="Logo Deezify"></a>
    </div>
    <div class="col-7 justify-content-center">
        <p id="slogan" >Because music gives rhythm to your life</p>
    </div>

    <div class="col-2">
        <a href="connection"><button id="connection" name="Connexion">Connexion</button></a>
    </div>
    <div class="col-2">
        <a href="inscription"><button id="inscription" name="Inscription">Inscription</button></a>
    </div>       
    
</div>
